div#tool-bar {
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 50px;
    padding-left: 10px;
    gap: 10px;
}

div#tool-bar > button {
    width: 80px;
}
div#tool-bar > button.enabled:hover {
}
div#tool-bar > button.enabled {
    
}
div#tool-bar > button.disabled {
    background-color: lightgray;
}
