div#statusbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    gap: 10px;
    font: black;  
}
