:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

div#app {
  display: flex;
  height: 100vh;
  min-width: 320px;
  min-height: 320px;
}

div#left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

div#right {
  background-color: whitesmoke;
  flex: 1;
  display: flex;
  padding: 10px;
}
