div#editor {
  flex: 1;
  display: flex;
  padding: 10px;
  gap: 10px;
  border: 1px solid grey;
  flex-direction: column;
}

div#no-shape,
div#mult-shapes {
  flex: 1;
  display: flex;
  padding: 10px;
  gap: 10px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
}

div#shape-display {
  display: flex;
  flex: 2 1;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;

  * {
    display: flex;
    flex: 2 1;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
  }

  .square {
    border: 2px solid black;
  }
}

div#shape-form {
  display: flex;
  flex: 1 1;
  background-color: whitesmoke;
  border: 1px solid grey;
  flex-direction: column;
}

div#shape-form > div {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  justify-content: center;

  input {
    width: 50px;
  }
  input:out-of-range {
    outline: 2px solid red;
  }
  label {
    width: 50px;
    text-align: right;
  }
}
